<form [formGroup]="formGroup">
  <legend>Añada un nuevo proyecto:</legend>
  <fieldset>
    <div class="input-group vertical">
      <label for="projectname">Descripción</label>
      <input type="text" id="projectname" formControlName="projectname" name="projectname" placeholder="Descripción" />
      <br />
    </div>
    <input
      type="button"
      [disabled]="formGroup.invalid"
      (click)="guardarProyecto.emit(formGroup.get('projectname').value)"
      class="primary"
      value="Guardar"
    />
  </fieldset>
  <fieldset>
    <ul>
      <li *ngFor="let p of projects">
        <span>{{ p.name }}</span>
      </li>
    </ul>
    <ng-template #empty> <i>No se ha introducido ningún proyecto nuevo</i> </ng-template>
  </fieldset>
</form>
